* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-box {
  margin: 50px auto;
}

.list-title {
  margin: 0 auto;
  width: 960px;
  padding: 20px 0 20px 20px;
}

.list-title:nth-child(odd) {
  background-color: rgb(197, 194, 194);
}

.box-contents {
  width: 960px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
  margin: 0 auto;
}

.color-box {
  width: 30%;
  height: 200px;
  background-color: yellow;
}

.color-box:not(:nth-of-type(3n)) {
  margin-right: 5%;
}

.color-box:nth-child(-n + 6) {
  margin-bottom: 40px;
}

.color-box:nth-child(1) {
  background-color: orange;
}

.color-box:nth-child(5) {
  background-color: orange;
}

.color-box:nth-child(9) {
  background-color: orange;
}
